@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue dans l'application de gestion de comptes rendus des visites</h1>
	<p><img src="~/lib/logo.jpg" /></p>
</div>